In [112]:
# Importamos las librerías necesarias para nuestro código
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 10})

In [113]:
# Leemos el archivo "Vid.dat" con la siguiente función para empezar a trabajar.
df0 = pd.read_csv('Vid.dat')

In [114]:
df0['TIMESTAMP'] = pd.to_datetime(df0.apply(lambda x: x['TIMESTAMP'], 1), dayfirst=True)

In [115]:
df0 = df0.rename(columns={'TIMESTAMP': 'Fecha', 'AirTC_Avg': 'TempA'})

In [116]:
df0 = df0[(df0['Fecha'] > '2018-11-1')]

In [117]:
# Primero creamos una columna nueva para tener los meses y días de cada año
df0['Hora'] = df0['Fecha'].dt.hour
df0['Día'] = df0['Fecha'].dt.day
df0['Mes'] = df0['Fecha'].dt.month
df0['Año'] = df0['Fecha'].dt.year

In [118]:
df = df0[['Fecha', 'TempA','Hora','Día','Mes','Año']]

In [119]:
df.head()

                    Fecha  TempA  Hora  Día  Mes   Año
24936 2018-11-01 00:10:00   8.89     0    1   11  2018
24937 2018-11-01 00:20:00   8.66     0    1   11  2018
24938 2018-11-01 00:30:00   8.52     0    1   11  2018
24939 2018-11-01 00:40:00   8.47     0    1   11  2018
24940 2018-11-01 00:50:00   8.58     0    1   11  2018

In [121]:
df1 = df.groupby([df['Fecha'].dt.month,df['Fecha'].dt.day,df['Fecha'].dt.hour]).mean()

In [122]:
df1.head()

                      TempA  Hora  Día  Mes   Año
Fecha Fecha Fecha
1     1     0      6.545833     0    1    1  2019
            1      6.657833     1    1    1  2019
            2      6.554000     2    1    1  2019
            3      7.611500     3    1    1  2019
            4      7.240000     4    1    1  2019

In [123]:
df_0 = df1.TempA[df1.TempA < 1.4].count()
df_1 = df1[df1.TempA >= 1.5]
df_2 = df_1.TempA[df_1.TempA <= 2.4].count()
df_3 = df1[df1.TempA >= 2.5]
df_4 = df_3.TempA[df_3.TempA <= 9.1].count()
df_5 = df1[df1.TempA >= 9.2]
df_6 = df_5.TempA[df_5.TempA <= 12.4].count()
df_7 = df1[df1.TempA >= 12.5]
df_8 = df_7.TempA[df_7.TempA <= 15.9].count()
df_9 = df1[df1.TempA >= 16]
df_10 = df_9.TempA[df_9.TempA <= 18].count()
df_11 = df1.TempA[df1.TempA > 18].count()
(df_2 * 0.5) + (df_4*1) + (df_6 * 0.5) + (df_8 * 0) + (df_10 * -0.5 ) + (df_11 * -1)

-292.5

In [124]:
df1['Tmin'] = df['TempA'].groupby([df['Fecha'].dt.month,df['Fecha'].dt.day,df['Fecha'].dt.hour]).min()
df1['Tmax'] = df['TempA'].groupby([df['Fecha'].dt.month,df['Fecha'].dt.day,df['Fecha'].dt.hour]).max()

In [125]:
df1 = df1.rename(columns={'Fecha': 'FECHA',})

In [126]:
df1.head()

                      TempA  Hora  Día  Mes   Año   Tmin   Tmax
Fecha Fecha Fecha
1     1     0      6.545833     0    1    1  2019  6.369  7.021
            1      6.657833     1    1    1  2019  6.168  7.153
            2      6.554000     2    1    1  2019  5.910  7.537
            3      7.611500     3    1    1  2019  7.121  8.040
            4      7.240000     4    1    1  2019  6.876  7.807

In [127]:
df1.dtypes

TempA    float64
Hora       int64
Día        int64
Mes        int64
Año        int64
Tmin     float64
Tmax     float64
dtype: object

In [128]:
df1['Hora'] = df1['Hora'].astype(object)
df1['Día'] = df1['Día'].astype(object)
df1['Mes'] = df1['Mes'].astype(object)
df1['Año'] = df1['Año'].astype(object)

In [97]:
df1.dtypes

TempA    float64
Hora      object
Día       object
Mes       object
Año       object
Tmin     float64
Tmax     float64
dtype: object

In [101]:
# Combinar las columnas "DD/MM/AAAA" con "HH:MM" y convertirla a variable de tiempo
# Se crea una nueva columna "Fecha" al final con formato de tiempo.
# Eliminamos las dos primeras columnas que ya no necesitaremos
#df1['Fecha'] = df.apply(lambda x: x['Hora'] + ['Día'] + x['Mes'] + x['Año'])
#df1 = df1.drop(['Hora', 'Día','Mes'], 1)

KeyError: ('Hora', 'occurred at index Fecha')